---
layout: default
---

{{ content }}

<div class="fl w-third">
    Workshops:

    <ul class="list pl4">
        {% for workshop in site.workshops %}
            <li class="small-caps">
                <a href="{{site.baseurl}}{{workshop.url}}">
                    {{workshop.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

</div>

<div class="fl w-two-thirds pl4">
    Tutorials:

    <ul class="list pl4">
        {% for tutorial in site.tutorials%}
            <li class="small-caps">
                <a href="{{site.baseurl}}/tutorials/{{tutorial.tag}}">
                    {{tutorial.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
