---
layout: default
---

{{ content }}

<article class="cf">
<div class="cf fl flex pa3 w-third flex-column mr2">

    <div class="b bb">Workshops</div>

    <ul class="list pl0">
        {% for workshop in site.workshops %}
            <li class="small-caps">
                <a href="{{site.baseurl}}{{workshop.url}}">
                    {{workshop.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

</div>

<div class="fl pa3 w-60">

    <div class="b bb">Tutorials</div>

    <ul class="list pl0">
        {% for tutorial in site.tutorials%}
            <li class="small-caps">
                <a href="{{site.baseurl}}{{tutorial.url}}">
                    {{tutorial.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

</div>
</article>
