---
layout: default
---

<span class="code gray">{{ page.collection }}</span> ⚒
<span class="b"> {{ page.title }} </span>

<div class="f5 pb3">
    {{ page.authors| array_to_sentence_string }} 
</div>

<div class="ba b--dotted b--light-silver bg-washed-blue pa3 mb2 ">
    {{ page.blurb }}
</div>

<div class="ba b--dotted b--light-silver bg-washed-yellow pa3">
    <span class="b">Lesson Plan:</span>
<ul>
    {% assign target = site.lessons | where:"target-tutorial", page.tutorial-id %}
    {% for lesson in target %}
            <li><a href="{{site.baseurl}}{{lesson.url}}">{{lesson.title}}</a></li>
    {% endfor %}
</ul>
</div>

{{ content }}

